{% extends "base.html"  %}
{% block content %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 p-3">
        TeamMood is a simple Flask app for daily reflection. It uses a session to keep state and is build for maximum privacy,
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 p-3">
        TeamMood was build because someone did not agree with the privacy policy of TeamMood.com (which will now be known as "The Bad TeamMood", or "TBT" for short). To fill the hole in our heart, Bas M build a .NET application to "inspired by" TBT.
      </div>
      <img src="/static/images/screen-uWdIF7sP.png" class="img-fluid" alt="RIP TeamMood v1">
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 p-3">
        TeamMoodButNowInPython is the second itteration of our by TBT inspired TeamMood app. It features features, bugs and other stuff. Can you find them all? Let us know by opening a pull request at <a href="https://stash.topicus.nl/users/christian.benstein/repos/teammoodpython/browse">Stash</a>
      </div>
    </div>
  </div>

{% endblock %}