<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="TeamMood in Flask">
  <meta name="author" content="Christian Benstein">

  <title>TeamMood</title>


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.2-dist/css/bootstrap.min.css') }}">

  <!-- Custom core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="{{ url_for('index') }}" class="navbar-brand">TeamMood | </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="{{ url_for('mood') }}" class="nav-link px-2 text-white">Mood</a></li>
              <li><a href="{{ url_for('about') }}" class="nav-link px-2 text-white">About</a></li>
            </div>
            <div class="col text-end">
              <span class="text-white text-end align-middle">A simple moodboard for daily reflection</span>
            </div>
        </div>
    </div>
  </nav>

  <main role="main">
    <!-- Loading main content here -->
    {% block content %}{% endblock %}

</main>

<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container">
    <span class="text-muted">Session ID: {{ session.uuid }}</span>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src={{ url_for('static', filename='bootstrap-5.2.2-dist/js/bootstrap.min.js') }}></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</body>
</html>
