{% extends "base.html"  %}
{% block content %}

<div class="container py-3 my-3">

      {% if currentMoods | length %}
      <h1 class="display-4 fw-normal"></h1>

      <div class="row">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">{{ currentMoods | length }} mood(s)</h1>
          <p class="fs-5 text-muted">
            <a href="{{ url_for('mood')}}">Leave your mood here</a>
          </p>
        </div>
      </div>

        <div class="col progress" style="height: 30px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{ moodMap.Fantastic.percentage }}%" aria-valuenow="20" aria-valuemin="{{ moodMap.Fantastic.percentage }}" aria-valuemax="100">🤩 (Fantastic) {{ moodMap.Fantastic.count }} </div>
          <div class="progress-bar bg-success bg-opacity-75" role="progressbar" style="width: {{ moodMap.Great.percentage }}%" aria-valuenow="{{ moodMap.Great.percentage }}" aria-valuemin="0" aria-valuemax="100">😄 (Great) {{ moodMap.Great.count }}</div>
          <div class="progress-bar bg-success bg-opacity-50" role="progressbar" style="width: {{ moodMap.Good.percentage }}%" aria-valuenow="{{ moodMap.Good.percentage }}" aria-valuemin="0" aria-valuemax="100">🙂 (Good) {{ moodMap.Good.count }}</div>
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{ moodMap.Bad.percentage }}%" aria-valuenow="{{ moodMap.Bad.percentage }}" aria-valuemin="0" aria-valuemax="100">🙁 (Bad) {{ moodMap.Bad.count }}</div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{ moodMap.Terrible.percentage }}%" aria-valuenow="{{ moodMap.Terrible.percentage }}" aria-valuemin="0" aria-valuemax="100">😡 (Terrible) {{ moodMap.Terrible.count }}</div>
        </div>
      
      <div class="row m-3" data-masonry='{"percentPosition": true }'>
        {% for uuid, mood in currentMoods.items() %}
        <div class="col-sm-6 col-lg-4 mb-4 border-5">
          <div class="card border-{{ mood.color }} {{ mood.opacity }} border-3">
            <div class="card-body">
              <h5 class="card-title">{{ mood.icon }} ({{ mood.description }})</h5>
              <p class="card-text">{{ mood.comment }}</p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                  {{ mood.name }}
                </small>
              </footer>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% else %}
      <div class="row">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">No moods yet</h1>
        <p class="fs-5 text-muted">
          <a href="{{ url_for('mood')}}">Be the first to leave your mood for today</a>
        </p>
      </div>
    </div>
      {% endif %}

</div>

{% endblock %}