{% extends "base.html"  %}
{% block content %}
<div class="py-5">
    <div class="container">
  
      <div class="row justify-content-center">

        {% if form.errors %}
          <ul class="errors">
            {% for error in form.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="col-8">
          <form method="POST" action="{{ url_for('mood') }}">
            <div class="mb-3">
              {{ form.name(class='form-control', value=name) }}
            </div>
            <div class="mb-3">
              {{ form.mood(class='form-control', placeholder='Your mood') }}
            </div>
            <div class="mb-3">
              {{ form.comment(class='form-control', placeholder='Any notes you want to share (optional)') }}
            </div>
            <div class="mb-3">
              {{ form.submit(class='btn btn-primary mb-2 form-control') }}
            </div>
          </form>

        </div>
      </div>
      <!-- ./row -->
    </div>
  </div>
{% endblock %}
